@mixin reg {
  font-family: 'NeueHaas', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

@mixin medium {
  font-family: 'NeueHaas', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

@mixin italic {
  font-family: 'NeueHaas', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
}

@mixin pixel {
  font-family: 'Ticketing', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.h1 {
  @include reg;
  font-size: vw(182);
  line-height: 1em;
  @media screen and (max-height: 540px) and (orientation: landscape) {
    font-size: vh(182);
  }
  @include media('<=#{$br1}') {
    font-size: size(162, 72);
  }
}

.h2 {
  @include reg;
  font-size: vw(176);
  line-height: 1em;
  @include media('<=#{$br1}') {
    font-size: size(126, 48);
  }
}

.pixel-str {
  @include pixel;
  font-style: normal;
}

.big-text {
  font-size: vw(60);
  line-height: 1.1em;
  display: inline-block;
  @include media('>#{$br1}') {
    .big-text__inner {
      display: inline-block;
      &:not(.splitted) {
        text-indent: vw(460);
      }
    }
    &::before {
      content: '';
      display: inline-block;
      width: vw(30);
      height: vw(30);
      border-radius: 50%;
      margin-right: vw(30);
      position: absolute;
      top: vw(16);
      left: vw(455);
      background-color: var(--black);
    }
  }
  @include media('<=#{$br1}') {
    font-size: size(40, 24);
  }
}

.word-revealer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  opacity: 0;
  pointer-events: none;
}

.word-text {
  opacity: 0;
}
