.hero {
  height: var(--vh);
}

.home-1 {
  color: white;
}

.home-1__img {
  @include coverdiv(absolute);
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  overflow: hidden;
}

.home-1__container {
  padding-top: vw(20);
  grid-auto-flow: row;
  height: 100%;
}

.home-1__h1 {
  width: 100%;
  grid-auto-flow: row;
  @include col-s(1);
  @include col-end(12);
}
.home-1__h1-line {
  display: block;
  line-height: 1em;
  &--1 {
    @include col-s(1);
    @include col-end(5);
    position: relative;
    left: vw(-11);
  }
  &--2 {
    @include col-s(8);
    @include col-end(12);
    @include italic;
    position: relative;
    left: vw(-11);
    margin-top: vw(-65);
  }
  &--3 {
    @include col-s(4);
    @include col-end(8);
    position: relative;
    left: vw(-11);
    @include font-blur(0.35vw);
    opacity: 1 !important;
    margin-top: vw(-80);
  }
}

.home-1__desc {
  @include col-s(8);
  @include col-end(11);
  @include medium;
  font-size: vw(14);
  line-height: 1em;
  text-transform: uppercase;
  max-width: vw(224);
  position: relative;
  top: vw(56);
  @include media('<=#{$ls}') {
    font-size: vw(16);
  }
}

.home-1__btn {
  @include col-s(4);
  @include col-end(6);
  margin-top: vh(40);
  // display: none;
}

.home-3__h-line--1 {
  @include col-s(1);
  @include col-end(12);
}
.home-3__h-line--2 {
  @include col-s(4);
  @include col-end(8);
  @include font-blur;
}
.home-3__h-line--3 {
  @include col-s(5);
  @include col-end(12);
  text-align: right;
}

.home-3__text {
  margin-top: vw(96);
}
.home-3__p--1 {
  @include col-s(4);
  @include col-end(7);
}
.home-3__p--2 {
  @include col-s(9);
  @include col-end(12);
}

.home-3__img-wrapper {
  margin-top: vw(88);
}
.home-3__img {
  @include col-s(4);
  @include col-end(9);
  .app-picture {
    padding-bottom: toimg(887, 887);
  }
}

.home-4__item {
  + .home-4__item {
    margin-top: vw(120);
  }
}

.home-4-item__idx {
  font-size: vw(40);
  margin-bottom: vw(20);
}

.home-4-item__content {
  margin-top: vw(32);
}

.home-4-item__h {
  @include reg;
  font-size: vw(100);
  line-height: 1em;
  @include col-s(1);
  @include col-end(6);
}
.home-4-item__right {
  @include col-s(8);
  @include col-end(12);
}

.home-4__img {
  height: fit-content;
  margin-top: vw(56);
  .app-picture {
    padding-bottom: toimg(736, 565);
  }
}

.home-5 {
  color: var(--white);
  margin-top: vw(300);
}

.home-5__img {
  @include coverdiv(absolute);
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  overflow: hidden;
}

.home-5__container {
  height: 100%;
  padding-top: vw(150);
  padding-bottom: vw(150);
}

.home-5__h {
  @include col-s(8);
  @include col-end(12);
}

.home-5__items {
  margin-top: vw(100);
}

.home-5__item {
  + .home-5__item {
    margin-top: vw(80);
  }
}

.home-5-item__content {
  margin-top: vw(16);
}

.home-5-item__h {
  @include col-s(1);
  @include col-end(4);
  @include reg;
  font-size: vw(48);
  line-height: 1em;
}

.home-5-item__text {
  @include col-s(8);
  @include col-end(12);
}

.home-6__content {
  margin-top: vw(120);
}

.home-7__h2-line--1 {
  @include col-s(1);
  @include col-end(4);
}
.home-7__h2-line--2 {
  @include col-s(8);
  @include col-end(12);
}

.home-7__h2-line--3 {
  @include col-s(4);
  @include col-end(12);
  @include font-blur;
}

.home-7__items {
  margin-top: vw(62);
}

.home-7__img {
  height: vw(491);
  .app-picture {
    padding-bottom: toimg(430, 491);
  }
}

.home-7__item {
  &:nth-child(1) {
    @include col-s(1);
    @include col-end(3);
  }
  &:nth-child(2) {
    @include col-s(4);
    @include col-end(6);
  }
  &:nth-child(3) {
    @include col-s(8);
    @include col-end(12);
    .home-7__img {
      .app-picture {
        padding-bottom: toimg(737, 491);
      }
    }
  }
}
.home-7__item-h {
  margin-top: 24px;
  font-size: vw(24);
}
