.border-section {
  --margin: 0.62vw;
  padding: var(--margin);
  position: relative;
  overflow: hidden;
  @include media('<=#{$ls}') {
    --margin: 0.42vw;
  }
  @include media('<=#{$br1}') {
    --margin: 18px;
  }
  @include media('<=#{$br3}') {
    --margin: 0px;
  }
}

.border-section__wrapper {
  height: 100%;
  position: relative;
  border-radius: var(--border-r);
  overflow: hidden;
  @include media('<=#{$br3}') {
    border-radius: 0px;
    min-height: var(--vh);
  }
  > .picture-wrapper {
    border-radius: 0px;
  }
}
