.simple-section__text {
  @include col-s(1);
  @include col-end(9);
  @include row-s(1);
  @include row-end(2);
  max-width: vw(1073);
}

.simple-section__img {
  @include col-s(9);
  @include col-end(12);
  @include row-s(1);
  @include row-end(2);
  height: vw(669);
  width: 100%;
  .app-picture {
    padding-bottom: toimg(583, 669);
  }
}
