* {
  &::selection {
    color: var(--bg);
    background: var(--accent);
  }
}

html {
  height: 100vh;
  height: var(--vh);
  overflow: hidden;
}

body {
  color: var(--black);
  background-color: var(--bg);
  font-size: vw(20);
  @include reg;
  line-height: 1.5em;
  height: 100vh;
  height: var(--vh);
  overflow: hidden !important;
  position: relative;
  overscroll-behavior-y: none;
  @include smooth-font;
  @include media('<=#{$br1}') {
    font-size: 14px;
  }
}

.e-fixed {
  overflow: hidden !important;
}

.js-sticky-area {
  width: 140%;
  height: 140%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--black);
  &--white {
    background-color: var(--white);
  }
}

@mixin font-blur($blurScale: var(--blur)) {
  filter: blur($blurScale);
  opacity: 0.5;
  transition: opacity 0.7s ease, filter 0.7s ease;
  cursor: zoom-in;
  &:hover {
    animation: blur-hover 1.2s linear alternate;
    filter: blur(0px);
    opacity: 1;
  }
  @keyframes blur-hover {
    0% {
      filter: blur($blurScale);
      opacity: 0.5;
    }

    33% {
      filter: blur(0px);
      opacity: 1;
    }

    67% {
      filter: blur($blurScale);
      opacity: 0.5;
    }

    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
}

#gl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
  z-index: 0;
  transition: opacity 1s ease;
}

#gl-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

[data-gl] {
  opacity: 0;
}

[data-a-h] {
  opacity: 0;
  letter-spacing: -0.01em;
  .char {
    display: inline-block;
    transform: scaleX(2);
    opacity: 0;
    will-change: transform, filter;
    filter: blur(40px);
  }
}

[data-a-hl] {
  opacity: 0;
  letter-spacing: -0.01em;
  line-height: 1em;
  .e-line {
    display: inline-block;
    overflow: hidden;
  }

  .line-inner {
    display: inline-block;
    transform: translateY(110%);
    opacity: 0;
    will-change: transform, filter;
  }
}

[data-a-t] {
  transform: translateX(60px);
  opacity: 0;
  will-change: transform, opacity;
}

[data-a-o] {
  opacity: 0;
  will-change: opacity;
}

.bg-gradient {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #00587c 0%, #003140 100%);
    animation: gradientA 5s linear infinite;
  }
}

@keyframes gradientA {
  0% {
    filter: hue-rotate(0deg);
  }

  25% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
    filter: hue-rotate(-5deg);
  }

  75% {
    background-position: 50% 0%;
  }

  to {
    filter: hue-rotate(0deg);
  }
}
